
body{
  background-color: rgb(250, 237, 217);
  margin-left: 1rem;
}

.title{
  width: 23rem;
  padding-left: 5rem;
  padding: 1rem;
  font-size: larger;
  margin-left: -1rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: black;
}

.new{
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  
}

.input{
  height: 5vh;
  padding-left: 1rem;
  margin-top: 1.5rem;
}
.btn, .btns{
  width: 10rem;
  font-weight: bold;
  border: 1.5px solid;
  height: 5.5vh;
  margin-top: 1rem;
}


.complete{
  height: 7vh;
 margin-left: -2rem;
}
.count{
  font-size: large;
  font-weight: bold;
  margin-left: 2rem;
  margin-top: 5rem;
}

.task{
  font-size: large;
  margin-left: -4rem;
  margin-top: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.taskapp{
  margin-left: 9rem;
  margin-top: 3rem;
}

.timer{
  margin-left: 5rem;
  padding-top: 1rem;
  width: 10rem;
  padding-left: 2rem;
  height: 15vh;
  border-radius: 1rem;
}

.focustimer, .refreshtimer{
  background-color: rgba(255, 255, 255, 0.406);
  height: 25vh;
  width:15rem;
  padding-left: 5rem;
}




@media only screen and (max-width: 600px) {
  .focustimer, .refreshtimer{
    height: 20vh;
    width:12.5rem;
    padding-left: 3rem;

  }
  .title{
    width: 18rem;
    padding-left: 6rem;
  }
  .input{
    margin-left: 0rem;
    margin-top: 5rem;
  }

  .btn{
  
    margin-top: 5rem;
  }

  .count{
    margin-left:2rem ;
  }

  .taskapp{
    margin-left: 9rem;
  }
  .timer{
    margin-left: 1.5rem;
    margin-top: 4rem;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
 
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .focustimer, .refreshtimer{
    height: 20vh;
    width:12.5rem;
    padding-left: 3rem;

  }

  .title{
    width: 36.5rem;
    padding-left: 35%;
  }
  .input{
    margin-left: 12rem;
    margin-top: 5rem;
  }

  .btn{
  
    margin-top: 5rem;
  }

  .count{
    margin-left:17rem ;
  }

  .taskapp{
    margin-left: 22rem;
  }
  .timer{
    margin-left: 18rem;
    margin-top: 4rem;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .title{
    width:48.5rem;
    padding-left: 49%;
  }
  .input{
    margin-left: 24rem;
    margin-top: 5rem;
  }

  .btn{
  
    margin-top: 5rem;
  }

  .count{
    margin-left:28rem ;
  }

  .taskapp{
    margin-left: 35rem;
  }
  .timer{
    margin-left: 30rem;
    margin-top: 4rem;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .title{
    width: 100%;
    padding-left: 39%;
  }
  .input{
    margin-left: 30rem;
    margin-top: 5rem;
  }

  .btn{
  
    margin-top: 5rem;
  }

  .count{
    margin-left:30rem ;
  }

  .taskapp{
    margin-left: 39rem;
  }
  .timer{
    margin-left: 35rem;
    margin-top: 4rem;
  }

}